{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Crear Reporte</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form.usuario.label_tag }}
                    {{ form.usuario }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    {{ form.fecha_inicio.label_tag }}
                    {{ form.fecha_inicio }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    {{ form.fecha_fin.label_tag }}
                    {{ form.fecha_fin }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Crear Reporte</button>
    </form>
</div>
{% endblock %}